[submodule "archeti/kayali"]
    path = archeti/kayali
    url = git@gitlab.com:archeti/kayali.git
    branch = staging
[submodule "archeti/odoo_addons"]
	path = archeti/odoo_addons
	url = git@gitlab.com:archeti/odoo_addons.git
    branch = 12.0
